img
{
     width:100%;
}

.img-align
{
    width: 100%;
    height: 100%;
}
.col-md-6
{
    text-align: justify;
    font-family: 'Josefin Sans';
}

.text-align{
     font-family: 'Josefin Sans';
     font-size: 30px;
}
.pull-right{
    text-decoration: none;
    color: yellow; 
}
 button:hover > .glyphicon{
      text-decoration: none;
    color: black; 
 }
.search-results {
      height: 100%;
}
